.sidebar ul li:hover {
    background-color: #D30D2B;
    border-radius: 5px;
}
.sidebar ul li:hover a{
    color: #ffffff;
}
.active{
    background-color: #D30D2B;
    border-radius: 5px;
    color: #ffffff;
}