.base-foodcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 19px;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.03), 0px 4px 20px -2px rgba(50, 50, 71, 0.04);
    border-radius: 16px;
    border: none;
  }
  
  .item-container {
    display: flex;
    justify-content: center;
  }
  
  .item-container img {
    width: auto;
    max-width: 5rem;
    height: auto;
    margin: 0;
  }
  
  .img-1 {
    height: 99px;
    width: 104px;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }
  .desc {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .text-2 {
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-family: Inter;
    line-height: 16px;
    color: #c0c0cf;
    
  }
  .text-3 {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: 22px;
    color: #32324d;
    margin-bottom: 0;
    font-weight: bold;
  }
  .price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
  }
  .text-4 {
    font-size: 8px;
    font-family: Inter;
    color: #ff0f00;
    margin-bottom: 0;
  }
  .text-5 {
    font-size: 14px;
    font-family: Inter;
    color: #d30d2b;
    font-weight: bold;
  }
  .third {
    width: 32px;
    height: 91px;
  }
  .add-btn {
    margin-top: 60px;
    height: 32px;
    width: 40px;
    cursor: pointer;
    border: none;
    background-color: white;
  }
  
  
  /* 
  .price-structure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
  }
  
  .dollar-sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 5px 0px;
    gap: 10px;
  }
  
  .text-4 {
    text-align: left;
    vertical-align: middle;
    font-size: 8px;
    font-family: Inter;
    line-height: 15px;
    color: #ff0f00;
  }
  
  .text-5 {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: 20px;
    color: #d30d2b;
    font-weight: bold;
  }
  
  
  .structure-base-add-removal-structure-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  
  .variants-addorremovalbutton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
  }
  
  .base-addorremovalbutton{
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7px;
    gap: 10px;
    background-color: #fff2ea;
  }
  
  .img-6 {
    height: 18px;
    width: 18px;
    background-color: #ffffff;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
  } */
  
  /*
  .base-/-foodcard {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 12px;
    gap: 12px;
    background-color: #ffffff;
  }
  .img-1 {
    height: 99px;
    width: 104px;
  }
  .structure-/-card-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
  }
  .text-2 {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: 22px;
    color: #32324d;
  }
  .atoms-/-social-proof {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
  }
  .text-3 {
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-family: Inter;
    line-height: 16px;
    color: #c0c0cf;
  }
  .variants-/-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
  }
  .atoms-/-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
  }
  .dollar-sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 5px 0px;
    gap: 10px;
  }
  .text-4 {
    text-align: left;
    vertical-align: middle;
    font-size: 8px;
    font-family: Inter;
    line-height: 15px;
    color: #ff0f00;
  }
  .text-5 {
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: 20px;
    color: #d30d2b;
  }
  */
  