.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.card-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 12px;
  gap: 19px;
  background: #ffffff;
  box-shadow: 0px 20.4511px 71.5789px rgba(86, 89, 146, 0.1);
  border-radius: 19px;
  width: 341px;
  height: auto;
}
.horizontal-line {
    border: none;
    border-top: 1px solid black;
    width: 100%;
  }

.open--info {
  display: flex;
  width: 311px;
  gap: 104px;
  align-items: baseline;
}
.open-name {
  font-size: 25px;
  font-family: Inter;
}
.open-id {
  font-size: 18px;
  font-family: Inter;
}

.card-open-items {
  display: flex;
  gap: 242px;
  width: 311px;
}
.open-text-3 {
  font-size: 15px;
  font-family: Inter;
}
.open-text-4 {
  font-size: 15px;
  font-family: Inter;
}
.hambur {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 317px;
}

.open-products {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.open-text-5 {
  font-size: 20px;
  font-family: Inter;
}
.open-text-6 {
  font-size: 20px;
}


.btnsgroup {
  display: flex;
  width: 307px;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 10px;
}

.trash {
  height: 54px;
  width: 54px;
  border-radius: 8px;
  background-color: #d9d9d9;
  border: none;
}


.checkbtn {
  height: 54px;
  width: 54px;
  border-radius: 8px;
  background-color: #d9d9d9;
  border: none;
}
.completed-btn {
  width: 171px;
  height: 54px;
  border-radius: 8px;
  background-color: #d9d9d9;
  border: none;
  font-size: 20px;
}

