/* #parentM li a:hover{
    background-color: #D30D2B;
}

.sidebarBtn:hover i{ 

    color: #ffffff;
}
.sidebarBtn:hover span{ 

    color: #ffffff;
} */

.sidebar ul li:hover {
    background-color: #D30D2B;
    border-radius: 5px;
}
.sidebar ul li:hover a{
    color: #ffffff;
}
.active{
    background-color: #D30D2B;
    border-radius: 5px;
    color: #ffffff;
}